<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DevOps Task Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="app">

    <!-- Top Bar -->
    <div class="top">
        <div>
            <h1>DevOps Tasks</h1>
            <p>Day 45 • CI/CD Pipeline Active</p>
        </div>

        <img src="https://github.com/Aditya09-cse/github-actions-practice/actions/workflows/docker-publish.yml/badge.svg">
    </div>

    <!-- Input -->
    <form action="/" method="POST" class="input-box">
        <input type="text" name="title" placeholder="What needs to be done?" required>
        <button>Add</button>
    </form>

    <!-- Tasks -->
    <div class="tasks">
        {% for task in tasks %}
        <div class="task">
            <span>{{ task.title }}</span>
            <a href="/delete/{{ task.id }}">✕</a>
        </div>
        {% endfor %}
    </div>

    <!-- Footer -->
    <div class="footer">
        <span>Flask • Docker • GitHub Actions • EC2</span>
    </div>

</div>

</body>
</html>
